<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web CRM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/people-icon.png" width="30" height="30" alt="">
            WEB CRM
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">@Html.ActionLink("Firme", "Index", "CompanyList", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Osobe", "Index", "PersonList", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Zadaci", "Index", "TaskList", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <div class="container body-content">
            <br />
            @RenderBody()
            <br />
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Web Crm aplikacija</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
