@using System.Web.UI.WebControls
@using WebCrm.Controllers
@model WebCrm.Models.DashboardViewModel
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>WEB CRM</h1>
    <p class="lead">Aplikacija za unos informacija o firmama, osoblju. Uz svaku firmu i osobu je moguće dodati bilješke i zadati sebi zadatke vezane za iste.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zadnje bilješke</h2>
        <ul>
            @foreach (var note in Model.Notes)
            {
            @note.Name
            @note.Description}
        </ul>
        @if (Model.Notes.Count < 1)
        {
        <p>Trenutno ne postoji bilješki u sistemu</p>}
    </div>
    <div class="col-md-8">
        <h2>Aktuelni zadaci</h2>
        <ul>
            @foreach (var task in Model.Tasks)
            {
            <li>
                <p>
                    <a href="@Url.Action("Details", "TaskList", new {id = task.Id})">@task.Name<br />@task.Description</a>
                    (@if (task.Company != null)
                    {<a href="@Url.Action("Details", "CompanyList", new { id = task.Company.Id })"><span>Firma: @task.Company.Name </span></a>}
                    @if (task.Person != null)
                    {<a href="@Url.Action("Details", "PersonList", new { id = task.Person.Id })"><span>Osoba: @task.Person.Forename @task.Person.Surname</span></a>})
                </p>
                <hr />
            </li>}
        </ul>
        @if (Model.Notes.Count < 1)
        {
        <p>Trenutno ne postoji zadataka u sistemu</p>
        }
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>