@model IEnumerable<WebCrm.App_Data.Person>

@{
    ViewBag.Title = "Lista osoba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista osoba</h1>
<br />

@if (!Model.Any())
{
    <h4>Trenutno ne postoji unos</h4>
    <p>
        @Html.ActionLink("Novi unos", "Create")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Novi unos", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateUserObject.UserName)
                </td>
                <td>
                    @Html.ActionLink("Uredi", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Izbriši", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
